html,body{
    margin: 0;
}
.accordian{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: brown;
    padding: 10px;
    color: white;
}
button{
    background-color: brown;
    border: none;
 
}
.accordian-content{
    transition: opacity 1s ease-in-out;
}